ul {
  display: flex;
  gap: 0.8rem;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    border-right: 0.5px solid #ffffff;
    &:last-child {
      border-right: none;
    }
  }

  a {
    padding: 0.2rem 1.6rem;
    color: #ffffff;
    font-family: 'Lato';
    font-size: 1.6rem;
    text-decoration: none;

    &:hover {
      color: #ff2f2f;
    }
  }
}

@media screen and (max-width: 500px) {
  ul {
    flex-direction: column;
    gap: 1.6rem;
  }
  
  li {
    border-right: none !important;
  }
}
