<div class="news-container">
    <a routerLink='/'>
        <div class="logo-container">
            <img src="assets/icons/logo-black.svg" alt="Logo">
            <span>Notícias</span>
        </div>
    </a>

    @if (newsData()) {
        <div class="news">
            <section class="news-info">
                <header>
                    <hgroup>
                        <h1>{{ newsData()?.title }}</h1>
                        <p class="subtitle">{{ newsData()?.subTitle }}</p>
                    </hgroup>
                    <hr>
                    <div class="meta-data">
                        <address>Publicado por {{ authorData()?.name || 'Redação' }}</address>
                        <div class="realease-info">
                            <p>Publicado em: {{ newsData()?.created | date:'dd/MM/yyyy' }}</p>
                            
                            @if (updatedAtDate()) {
                                <p> - </p>
                                <p>Atualizado há {{ timeAgo() }}</p>
                            }
                        </div>
                    </div>
                </header>
            </section>
            <img src="{{newsData()?.image}}">
            <section class="news-content" [innerHTML]="newsData()?.content">
            </section>
        </div>
    } @else {
        <p>Notícia não encontrada.</p>
    }
</div>