$logo-pj-main-font: 'Lato';
$logo-pj-accent-font: 'Frank Ruhl Libre';

$logo-pj-regular-size: 1.6rem;
$logo-pj-read-size: 1.8rem;
$logo-pj-title-size: 2.4rem;
$logo-pj-subtitle-size: 2rem;
$logo-pj-meta-size: 1.4rem; 