@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin aj-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

$logo-pj-navbar-align: 2%;
$logo-pj-vertical-align: 3.35%;
