<section class="container">
  <h3>COLUNISTAS</h3>
  <nz-carousel [nzEffect]="'scrollx'" nzArrows>
    @for (group of groupedItems; track $index) {
      <div nz-carousel-content>
        <div class="card-wrapper">
          @for (item of group; track item.id) {
            <a class="card-container" [routerLink]="['/columnist', item.id]">
              <div class="custom-card">
                <img
                  [src]="item.avatar ? item.avatar : 'assets/icons/avatar-default.png'"
                  [alt]="item.name"
                >
              </div>
              <span>{{ item.name }}</span>
            </a>
          }
        </div>
      </div>
    }
  </nz-carousel>
</section>
