.container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;

  h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 5px;
  }
}

[nz-carousel-content] {
  height: 80px;
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  width: 100%;
  padding: 0px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  align-items: center;
  height: 100%;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

:host ::ng-deep .ant-carousel {
  .slick-arrow {
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

    display: flex !important;
    align-items: center;
    justify-content: center;

    &::after {
      position: static;
      display: block;
      margin: 0;

      width: 8px;
      height: 8px;
      border-color: #fff;
    }
  }

  .slick-next {
    right: 10px;
    &::after {
      margin-left: -3px;
    }
  }

  .slick-prev {
    left: 10px;
    &::after {
      margin-right: -3px;
    }
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;

  .custom-card {
    width: 100%;
    background: rgba(37, 32, 32, 0.2);
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  span{
    color: #232323;
  }
}
