#search-bar {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  input {
    background: none;
    border: none;
    border-bottom: solid white 0.2rem;
    border-radius: 0;
    font-family: 'Lato';
    color: white;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: white;
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

:host ::ng-deep {
  .anticon {
    font-size: 2rem !important;
    color: white !important;
  }
}
