section {
    display: flex;
    justify-content: space-between;
    margin: 2.4rem 3.2%;
    align-items: flex-start;
    height: 10rem;
    .daily-info {
        width: 22rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
